﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/modern-business.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.bundle.min.js"></script>
    <!-- Custom styles for this template -->
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">5557 Otomasyon Yönetim Sistemleri</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Sirketimiz">Şirketimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Urunlerimiz">Ürünlerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Musterilerimiz">Müşterilerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Iletisim">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>
