﻿
@{
    ViewBag.Title = "HaberListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model IEnumerable<_5557Otomasyon.Models.Haberler>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var haber in Model)
        {
        <tr> 
            <td>@haber.ID</td>
            <td>@haber.Baslik</td>
            <td>
                <a class="btn btn-primary" href="#">Göster</a>
                <a class="btn btn-primary" href="\Admin\HaberDuzenle?ID=@haber.ID">Düzenle</a>
                <a class="btn btn-primary" href="\Admin\HaberSil?ID=@haber.ID">Sil</a>
            </td>
        </tr>
        }
        <tr>
            <td colspan="3"><a class="btn btn-primary" href="\Admin\HaberEkle">Haber Ekle</a></td>
        </tr>
    </tbody>
</table>
