﻿
@{
    ViewBag.Title = "Haber Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model _5557Otomasyon.Models.Haberler
}

@using (Html.BeginForm("HaberEkle", "Admin", FormMethod.Post))
{
    <div class="title">
        <label>Başlık</label>
        @Html.TextBoxFor(item => item.Baslik, new { placeholder = "Haber Başlığı Giriniz.", @class = "form-control" })
    </div>
    <div class="productContent">
        <label>İçerik</label>
        @Html.TextAreaFor(item => item.Icerik, new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-primary" value="Kaydet" />
}

