﻿
@{
    ViewBag.Title = "Haber Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model _5557Otomasyon.Models.Haberler
}

@using (Html.BeginForm("HaberDuzenle", "Admin", FormMethod.Post))
{
    <div class="title">
        <label>Başlık</label>
        @Html.TextBoxFor(item => item.Baslik, new {placeholder = "Haber Başlığı Giriniz.", @class = "form-control" })
    </div>
    <div class="productContent">
        <label>İçerik</label>
        @Html.TextAreaFor(item => item.Icerik, new { @class = "form-control"})
    </div>
    @Html.HiddenFor(item => item.ID)
    <input type="submit" class="btn btn-primary" value="Kaydet"/>
}

