﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Haberler</td>
            <td><a class="btn btn-primary" href="\Admin\HaberListele">Listele</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Müşteriler</td>
            <td><a class="btn btn-primary" href="\Admin\MusteriListele">Listele</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ürünler</td>
            <td><a class="btn btn-primary" href="\Admin\UrunleriListele">Listele</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Yöneticiler</td>
            <td><a class="btn btn-primary" href="\Admin\YoneticileriListele">Listele</a></td>
        </tr>
    </tbody>
</table>