﻿
@{
    ViewBag.Title = "Müşteri Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model _5557Otomasyon.Models.Musteriler
}
@using (Html.BeginForm("MusteriDuzenle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="title">
        <label>Adı</label>
        @Html.TextBoxFor(item => item.Adi, new { placeholder = "Adı Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Telefon</label>
        @Html.TextBoxFor(item => item.Telefon, new { placeholder = "Telefon Numarası Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>WebSitesi</label>
        @Html.TextBoxFor(item => item.WebSitesi, new { placeholder = "Web Sitesini Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Mail</label>
        <input type="email" value="@Model.Mail" name="Mail" class="form-control" placeholder="Maili giriniz" />
    </div>
    <div>
        <label>Resim</label>
        <img src="~/Content/img/@Model.ResimAdresi" class="form-control" style="height:150px; width:200px" />
        <input type="file" class="form-control" value="Yükle" name="file" />
    </div>
    <div>
        <label>Aciklama</label>
        @Html.TextAreaFor(item => item.Aciklama, new { placeholder = "Açıklamayı Giriniz", @class = "form-control" })
    </div>
    @Html.HiddenFor(item => item.ID)
    <input type="submit" class="btn btn-primary" value="Kaydet" />
}