﻿
@{
    ViewBag.Title = "MusteriListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model IEnumerable<_5557Otomasyon.Models.Musteriler>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.ID</td>
                <td>@musteri.Adi</td>
                <td>
                    <a class="btn btn-primary" href="#">Göster</a>
                    <a class="btn btn-primary" href="\Admin\MusteriDuzenle?ID=@musteri.ID">Düzenle</a>
                    <a class="btn btn-primary" href="\Admin\MusteriSil?ID=@musteri.ID">Sil</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3"><a class="btn btn-primary" href="\Admin\MusteriEkle">Müşteri Ekle</a></td>
        </tr>
    </tbody>
</table>
