﻿
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model _5557Otomasyon.Models.Urunler
}

@using (Html.BeginForm("UrunEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="title">
        <label>Adı</label>
        @Html.TextBox("Adi", string.Empty, new { placeholder = "Ürün Adını Giriniz.", @class = "form-control", required = "required"})
    </div>
    <div>
        <label>Açıklama</label>
        @Html.TextArea("Açıklama", string.Empty, new { placeholder = "Ürün Açıklamasını Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Ürün Kodu</label>
        @Html.TextBox("Kodu", string.Empty, new { placeholder = "Ürün Kodunu Giriniz.",  @class = "form-control", required = "required" })
    </div>
    <div>
        <label>Resim</label>
        @*<img src="~/Content/img/@Model.ResimAdresi" class="form-control" style="width:200px; height:150px" />*@
        <input type="file" name="file" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary" value="Kaydet" />
}
