﻿
@{
    ViewBag.Title = "UrunListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model IEnumerable<_5557Otomasyon.Models.Urunler>
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.ID</td>
                <td>@urun.Adi</td>
                <td>
                    <a class="btn btn-primary" href="#">Göster</a>
                    <a class="btn btn-primary" href="\Admin\UrunDuzenle?ID=@urun.ID">Düzenle</a>
                    <a class="btn btn-primary" href="\Admin\UrunSil?ID=@urun.ID">Sil</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3"><a class="btn btn-primary" href="\Admin\UrunEkle">Ürün Ekle</a></td>
        </tr>
    </tbody>
</table>
