﻿
@{
    ViewBag.Title = "Yönetici Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model _5557Otomasyon.Models.Yoneticiler
}

@using (Html.BeginForm("YoneticiEkle", "Admin", FormMethod.Post))
{
    <div class="title">
        <label>Adı</label>
        @Html.TextBox("Adi", string.Empty, new { placeholder = "Adınızı Giriniz.", @class = "form-control", required = "required" })
    </div>
    <div>
        <label>Soyadı</label>
        @Html.TextBox("Soyadi", string.Empty, new { placeholder = "Soyadınızı Giriniz.", @class = "form-control", required = "required" })
    </div>
    <div>
        <label>Kullanıcı Adı</label>
        @Html.TextBox("KullaniciAdi", string.Empty, new { placeholder = "Kullanıcı Adını Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Sifre</label>
        @Html.Password("Sifre", string.Empty, new { placeholder = "Şifrenizi Giriniz.", @class = "form-control", required = "required" })
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="Email" class="form-control" placeholder="Emaili Giriniz."  required="required"/>
    </div>
    <div>
        <label>Pozisyon</label>
        @Html.TextBox("Pozisyon", string.Empty, new { placeholder = "Pozisyonu Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Yönetici Kodu</label>
        @Html.TextBox("YoneticiKodu", string.Empty, new { placeholder = "Yönetici Kodunu Giriniz.", @class = "form-control", required = "required" })
    </div>
    @Html.HiddenFor(item => item.ID)
    <input type="submit" class="btn btn-primary" value="Kaydet" />
    if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
}
