﻿
@{
    ViewBag.Title = "Yönetici Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model _5557Otomasyon.Models.Yoneticiler
}

@using (Html.BeginForm("YoneticiDuzenle", "Admin", FormMethod.Post))
{
    <div class="title">
        <label>Adı</label>
        @Html.TextBoxFor(item => item.Adi, new { placeholder = "Adınızı Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Soyadı</label>
        @Html.TextBoxFor(item => item.Soyadi, new { placeholder = "Soyadınızı Giriniz.",  @class = "form-control" })
    </div>
    <div>
        <label>Kullanıcı Adı</label>
        @Html.Label(Model.KullaniciAdi, new { @class = "form-control" })
    </div>
    <div>
        <label>Sifre</label>
        @Html.TextBoxFor(item => item.Sifre, new { placeholder = "Şifrenizi Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Email</label>
        <input type="email" value="@Model.Email" name="Email" class="form-control" placeholder="Emaili Giriniz."/>
    </div>
    <div>
        <label>Pozisyon</label>
        @Html.TextBoxFor(item => item.Pozisyon, new { placeholder = "Pozisyonu Giriniz.", @class = "form-control" })
    </div>
    <div>
        <label>Yönetici Kodu</label>
        @Html.TextBoxFor(item => item.YoneticiKodu, new { placeholder = "Yönetici Kodunu Giriniz.", @class = "form-control" })
    </div>
    @Html.HiddenFor(item => item.ID)
    <input type="submit" class="btn btn-primary" value="Kaydet" />
}
