﻿
@{
    ViewBag.Title = "YoneticileriListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @model IEnumerable<_5557Otomasyon.Models.Yoneticiler>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Yönetici Kodu</th>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Şifre</th>
            <th>Email</th>
            <th>Posizyon</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var yonetici in Model)
        {
            <tr>
                <td>@yonetici.ID</td>
                <td>@yonetici.YoneticiKodu</td>
                <td>@yonetici.Adi</td>
                <td>@yonetici.Soyadi</td>
                <td>@yonetici.Sifre</td>
                <td>@yonetici.Email</td>
                <td>@yonetici.Pozisyon</td>
                <td>
                    <a class="btn btn-primary" href="\Adm">Göster</a>
                    <a class="btn btn-primary" href="\Admin\YoneticiDuzenle?ID=@yonetici.ID">Düzenle</a>
                    <a class="btn btn-primary" href="\Admin\YoneticiSil?ID=@yonetici.ID">Sil</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3"><a class="btn btn-primary" href="\Admin\YoneticiEkle">Yönetici Ekle</a></td>
        </tr>
    </tbody>
</table>