﻿
@{
    ViewBag.Title = "Musterilerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<_5557Otomasyon.Models.Musteriler>
}
<h1 class="mt-4 mb-3">
    Müşterilerimiz
</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/">Ana Sayfa</a>
    </li>
    <li class="breadcrumb-item active">Musterilerimiz</li>
</ol>
<!-- Project One -->
@foreach (var musteri in Model)
{
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" style="width:700px; height:300px;" src="~/Content/img/@musteri.ResimAdresi" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>@musteri.Adi</h3>
            <p>@musteri.Aciklama</p>
        </div>
    </div>
    <hr>
}
<!-- Pagination -->
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>