﻿
@{
    ViewBag.Title = "Urunlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model IEnumerable<_5557Otomasyon.Models.Urunler>
}

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">
    Ürünlerimiz
</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/">Ana Sayfa</a>
    </li>
    <li class="breadcrumb-item active">Ürünlerimiz</li>
</ol>
<div class="row">
    @foreach (var urun in Model)
    {
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="~/Content/img/@urun.ResimAdresi"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@urun.Adi</a>
                    </h4>
                    <p class="card-text">@urun.Aciklama</p>
                </div>
            </div>
        </div>
    }
</div>
<!-- Pagination -->
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    </li>
</ul>